<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home-page.css" />
    <title>Weather App</title>
  </head>
  <body>
    <h1 class="heading">Weather App</h1>

    <div class="text-box">
      <form action="/" method="post">
        <label for="cityInput">City Name </label>
        <input id="cityInput" type="text" name="cityName" autocomplete="off" />
        <button type="submit" class="btn">Search</button>
      </form>
    </div>

    <div class="attribute">
      Image by
      <a
        href="https://pixabay.com/users/satyatiwari-3310601/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3362712"
        >Satya Tiwari</a
      >
      from
      <a
        href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3362712"
        >Pixabay</a
      >
    </div>
  </body>
</html>
